
<p id="notice"><%#= notice %></p>
<div>
  <div class="applied-job-info" > 
    <p>
      <h3 style="color: #508514;">
        <%= @job.title %>
      </h3>
      <div style="float:right;">Posted on <%= distance_of_time_in_words(Time.now, @job.created_at, include_seconds: true) %>  ago</div>
    </p>
    <br>

    <p>
      <b>Description:</b>
      <%= @job.description %>
    </p>

    <p>
      <b>In return i will provide:</b>
      <%= @job.in_return %>
    </p>

    <p>
    <% if @job.user_id != current_user.id %>
      <% if is_applied?(@job) %>
        <div style="color: #508514;font-size:16px;font-weight:bold;">
          <%= "You have alerady applied for this job." %>
        </div>
      <% else %>
        
        <%= form_for :appliedjobs, :url => {:controller => "appliedjobs", :action => "applied_to_job"} do |f|  %>
          <div class="control-group" style="font-size:18px;font-weight:bold;">
            <%= f.label :in_return, "In return i am expecting", :class =>"control-label" %><br/>
            <div id="job_title">
              <%= f.text_field :in_return, :id => "job_title"%>
            </div>
          </div>
          <%= hidden_field_tag :job_id, @job.id %>
          <div style="float:left;"  >
            <%= f.submit "Apply", :class => "btn btn-success" %>
          </div>
        <% end %>  
        
      <% end %>
    <% end %>
    
    </p>
    <br>
    <a href="#" onclick="history.go(-1);return false;">[Go Back]</a>
  </div>
  

  <div class="applied-job-user" >
    <h3 style="color: #508514;">
        People applied for this job( <%= "#{@applied_job_count}" %><%#= link_to "#{@applied_job_count}", {:controller => "jobs", :action => "people_applied_for_job", :job => @job}, :style => "color: #508514;" %> )
    </h3> 
    
    <% @users.each do |applied_user|  %>
   
      <% if applied_user.user_id != current_user.id.to_s %>
        <div style="border-bottom: 1px solid #D7D7D7;">
          <%= image_tag applied_user.profile_picture.present? ? applied_user.profile_picture : 'default_profile_image.png', :alt => "Profile Picture", :style => "border: solid 1px #CCC; width:50px; height:50px; float: left; " %>
          <div style="display: inline-block; padding: 1px;">
            <h2 id="p-title-recommend" class="fn left padding_username"><%= link_to "#{applied_user.first_name} #{applied_user.last_name}".titleize, :controller => 'home', :action => 'show_profile', :id => applied_user.user_id %></h2>

            <span class="p-summary-tagline title" style="display: block; padding: 4px;">
              <%= applied_user.iam if applied_user.present? %>
            </span>
          </div>
        </div>
        <br />
      <% end %>  
      
    <% end %>
  </div>
</div>  
<br>
<div class="clear"></div>

<% if current_user.id == @job.user_id %>
  <div style="border: 1px solid #D7D7D7;width: 594px;padding: 13px;">
    <% @users.each do |applied_user|  %>
      
      <% if applied_user.user_id != current_user.id.to_s %>

        <div style="border: 1px solid #D7D7D7;">
          <%= image_tag applied_user.profile_picture.present? ? applied_user.profile_picture : 'default_profile_image.png', :alt => "Profile Picture", :style => "border: solid 1px #CCC; width:40px; height:40px; float: left; " %>
          <div style="display: inline-block; padding: 1px;">
            <h2 id="p-title-recommend" class="fn left padding_username"><%= link_to "#{applied_user.first_name} #{applied_user.last_name}".titleize, :controller => 'home', :action => 'show_profile', :id => applied_user.user_id %></h2>

            <span class="p-summary-tagline title" style="display: block; padding: 4px;">
              <%= applied_user.iam if applied_user.present? %>
            </span>
          </div>
          
          <div style="float: right;margin-right: 10px;">
            I need:
            <%= applied_user.in_return if applied_user.present? %>
          </div>
          <div class="clear"></div>
          <% unless is_accepted?(@job) %>
            <div style="float: right;margin-top: -10px;margin-right: 20px;margin-bottom: 5px;">
              <%= form_for :acceptancejobs, :url => {:controller => "jobs", :action => "accepted_proposal"} do |f|  %>
                <%= hidden_field_tag :job_id, @job.id %>
                <%= hidden_field_tag :user_id, applied_user.user_id %>
                <div style="float:left;"  >
                  <%= f.submit "Accept", :class => "btn btn-success", :locals => {:deal => "true"} %>
                  <%= f.submit "Decline", :class => "btn btn-danger" %>
                </div>
              <% end %>
            </div>
            <div class="clear"></div>
          <% else %>
            <div style="float: right;margin-top: -20px;margin-bottom: 5px;">
              <h5 style="color:green;">
                Proposal is accepted.   
              </h5> 
            </div>  
          <% end %>
        </div>
        <br />
      <% end %>  
    <% end %>
    
  </div>
<% end %>

<%#= link_to 'Edit', edit_job_path(@job) %> 
<%#= link_to 'Back', jobs_path %>
