<div class="eol-layout-s4" id="p-content">
	<h3 style="margin-left: 35px;color: #508514;">My Jobs</h3>
	
	<% if jobs.present? %>
	    <% jobs.each do |job| %>
	        <div id="job_list_home">
	            <%= link_to "#{job.title}", job, :style => "margin-left: 10px;color:cornflowerblue;" %>
	            <div class="btn-group" style="float:right;">
	            <!-- Link or button to toggle dropdown -->
	                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		                <span class="caret"></span>
	                </a>
	                <ul class="dropdown-menu">
		                <li><%= link_to 'Edit Job', edit_job_path(job) %></li>
		                <li class="divider"></li>
		                <li><%= link_to 'Delete Job', job, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	                </ul>
	            </div><br />
	            <div class="comment more">
	                <%= job.description %>
	            </div>
	        </div>
	        <div class="clear"></div>
	    <% end %>
	    <%= will_paginate jobs, :style => "margin-left: 35px" %>
	    <div class="p-spacer"></div>
	<% else %>
		<h3 style="margin-left: 73px;" class="muted">No jobs found. </h3>
	<% end %>
</div>
<div class="clear"></div>
