<div class="p-about-txt-jobProfile">
		<% if user.experiences.present? %>
			<% user.experiences.each do |experience| %>
			<% if experience.present? %>
			<div class="btn-exp">
				<% if show_current_user?(@user || current_user)  %>
					<div class="edit-experience">
						<a href="#modal_user_edit_experience_<%= experience.id %>" class="edit-btn" data-toggle="modal" style="position: relative; margin-top:0px;" >Edit </a>
					</div>
					<div class="rm-experience" > 
						<%= link_to "Remove", {:controller => "home", :action => "experience_delete", :id => experience.id }, :method => "delete", data: { confirm: 'Are you sure?' }, :remote => "true" %>
					</div>
				<% end %>
			</div>	
			<div class="p-cred-title-2">
				<div class="left">
					<%= experience.company_name.titleize  %>
										
					
					<%= experience.location.titleize %>
				</div>
				<div class="clear"></div>
				<div class="p-cred-subtitle">
					<%= experience.title.titleize %>
				</div>
				<div class="p-cred-subtitle-3">
					<% if experience.start_date.present? %>
						From <%= experience.start_date %> 
					<% end %>
					<% if experience.end_date.present? %>
						to <%= experience.end_date %>
					<% end %>
				</div>
			</div>
			<div class="p-cred-verif-editMode"></div>
			<div class="clear"></div>
			<div class="p-cred-desc">
				<%= experience.description %>
			</div>
			<%= render :partial => 'edit_user_experience', :locals => {:experience => experience, :id => experience.id } %>	
			<% end %>
			<% end %>

		<% end %>
			<%#= link_to "Add Experience", :controller => "home", :action => "add_experience" %>
			
</div>
<script>
$(document).ready(function(){

  <% if current_user.experiences.present? %>
    $('.add-exp').html("+ Add Another Experience");
  <% else %>
    $('.add-exp').html("+ Add Experience");
  <% end %>
})
</script>