<!-- <img id="profileImage" class="photo" alt="Devendra Bpsi | Elance" src="https://ws.elance.com/php/files/main/download.php?crypted=Y3R4JTNEcHJvZmlsZV9pbWFnZSUyNmZpZCUzRDU4MjQ3MTg1JTI2cmlkJTNELTElMjZwaWQlM0Q0ODI0Njc5JTI2dCUzRDE=" style="border: solid 1px #CCC; max-width:160px; max-height:160px; height:expression(this.height &gt; 159 ? 160: true); width:expression(this.width &gt; 159 ? 160: true); "> -->
<%#= javascript_include_tag "bootstrap-fileupload" %>
<div class="eol-layout-s1" id="p-menu">
	<div id="profimeImage">
		<% if @user.profile_picture.present? %>
			<%= image_tag @user.profile_picture , :alt => "Profile Picture", :style => "border: solid 1px #CCC; max-width:160px; max-height:160px; height:expression(this.height &gt; 159 ? 160: true); width:expression(this.width &gt; 159 ? 160: true);" %>
		<% else if @user.facebook_image.present? %>
			<%= image_tag @user.facebook_image , :alt => "Profile Picture", :style => "border: solid 1px #CCC; max-width:160px; max-height:160px; height:expression(this.height &gt; 159 ? 160: true); width:expression(this.width &gt; 159 ? 160: true);" %>
		<% else %>
			<%= image_tag('default_profile_image.png', :alt => "Profile Picture", :style => "border: solid 1px #CCC; max-width:160px; max-height:160px; height:expression(this.height &gt; 159 ? 160: true); width:expression(this.width &gt; 159 ? 160: true);" ) %>
		<% end %>
	<% end %>	
	</div>

	<div class="clear"></div>
	<div><%= render :partial => "profile_photo_upload" %></div>
		
	<div>
		<ul class="nav-left">
			<li id="nav-left-li-" class="nav-left-selected">
			    <a class="nav-left-item" href="/"><span class="span-item">Overview </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Job History </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Portfolio </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Skills </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Resume/C.V. </span></a>
			</li>
			<li>
				<div class="nav-left-divider">
					&nbsp;
				</div>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Contact Info </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Privacy Settings </span></a>
			</li>
			<li id="nav-left-li-">
				<a class="nav-left-item" href="#"><span class="span-item">Public View of Profile </span></a>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>



<div class="eol-layout-s4" id="p-content">
	<div class="eol-layout-s4" id="p-hd">
		<%= render :partial => "show_short_user_info", :locals => {:user => @user} %>
	</div>
	<div class="eol-layout-s4" id="p-bd">
		<%= render :partial => "show_short_user_overview", :locals => {:user => @user} %>
	</div>
	<div class="p-spacer"></div>
	
	<!-- Skills -->
	<h2 class="p-header padding_skill"> Skills </h2>
	<!-- <div class="clear"></div> -->
	<% if show_current_user?(@user || current_user)  %>
		<a href="javascript:void(0)" class="edit-btn add-skill">+ Add Skill</a>
	<% end  %>
		<%#= render "add_skill"  %>
		

	<div id="show_user_skill">
		<%= render :partial => "show_short_user_skill", :locals => {:user => @user} %>
	</div>
	<div class="clear"></div>
	<!-- <div class="p-spacer"></div> -->
	
	<!-- Experience -->	

	<h2 class="p-header padding_skill" > Experience </h2>
	<!-- <div class="clear"></div> -->
	<% if show_current_user?(@user || current_user)  %>
		<a href="#modal_add_user_experience" class="edit-btn add-exp" data-toggle="modal" style="position: relative; margin-top:-30px;">+ Add Experience</a>
	<% end %>	
	<%= render "add_experience"  %>
		
	<div id="show_user_experience" >
		<%= render :partial => "show_short_user_experience", :locals => {:user => @user} %>
	</div>
	
	<div class="clear"></div>
	<!-- <div class="p-spacer"></div> -->
	
	<!-- Education -->

	<h2 class="p-header padding_skill"> Education </h2>
	<% if show_current_user?(@user || current_user)  %>
		<a href="#modal_add_user_education" class="edit-btn add-edu" data-toggle="modal" style="position: relative; margin-top:-30px;">+ Add Education</a>
	<% end %>

	<%= render "add_education"  %>

	<div class="clear"></div>
	<div id="show_user_education">
		<%= render :partial => "show_short_user_education", :locals => {:user => @user} %>
	</div>
	
	<div class="clear"></div>
	<div class="p-spacer"></div>
	
	<!-- KeyWords -->
	<!-- <div id="p-keywords">
		<h2 class="p-header padding_keyword">Keywords</h2>
		<div class="keywordRow">
			<div class="keywordRow keywordCell p-about-txt-jobProfile">
				<a class="edit-btn" href="#" title="Edit Keywords"><span>Edit</span></a> 
				
				<%#= user.profile.keyword if user.profile %>
				<%# if user.skills.present? %>
					<%# user.skills.order(:name).each do |skill| %>
						<%#= skill.name %>
					<%# end %>
				<%# end %>
				</table>
			</div>
		</div>
		<div class="clear"></div>
		<div class="p-spacer"></div>
	</div> -->
</div>
<!-- <div class="eol-layout-x2 eol-layout-last p-layout-rnav">
	<div id="completenessWidget" class="widget" style="position: relative;">
		<div class="widgetTitle" id="dashBoardprofileCompleteness">
			Your Profile Completeness
		</div>
	</div>
</div> -->
<div class="eol-layout-x2 eol-layout-last p-layout-rnav">
	<div class="p-module">
		<h6 class="p-header">My Snapshot</h6>
		<%= render :partial => "recommended_users" %>
		<!-- <div>
			<div class="snapshot-item-title">Jobs</div>
			<div class="snapshot-item-value">
				<div id="snapshot-12mo-1">
					<a href="#" title="Jobs started in last 12 months.">0</a><br />
					<a href="#" title="Paid milestones in last 12 months.">0</a><br />
					<a href="#" title="Paid houres in last 12 months.">0</a>
				</div>
				<div id="snapshot-life-1" style="display: none">
					<a href="#" title="Total working or Completed jobs.">0</a><br />
					<a href="#" title="Paid Milestones">0</a><br />
					<a href="#" title="Paid houres">0</a>					
				</div>
			</div>
			<div class="snapshot-item-label">
				<div id="snapshot-label-12mo-1">
					<span title="Job started in last 12 months.">Total</span><br />
					<span title="Paid milestones in last 12 months.">Milestones</span><br />
					<span title="Paid houres in last 12 months.">Houres</span>
				</div>
				<div id="snapshot-label-life-1" style="display:none">
					<span title="Total working or Completed jobs">Total</span><br />
					<span title="Paid milestones">Milestones</span><br />
					<span title="Paid houres">Houres</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="snapshot-item">
			<div class="snapshot-item-title">Reviews</div>
			<div class="snapshot-item-value" style="line-height: 20px;">
				<div id="snapshot-12mo-2">
					<a href="#" title="Reviews from client in last 12 months.">0</a><br />
					<a href="#" title="Data is shown after at least 4 reviews are collected.">N/A</a>
				</div>
				<div id="snapshot-life-2" style="display: none">
					<a href="#" title="Total no. of reviews from clents.">0</a><br />
					<a href="#" title="Data is shown after at least 4 reviews are collected">N/A</a>
				</div>
			</div>
			<div class="snapshot-item-label">
				<div id="snapshot-12mo-3">
					<div class="left" title="Average job rating weighted by earnings">
						<div class="eol-rating">
							<div class="eol-scale" style="width: 0px">
								
							</div>
						</div>
					</div>
					<div class="right bold" title="Average Job rating weighted by earnings"></div>
					<div class="clear"></div>
				</div>
				<div id="snapshot-life-3" style="display: none">
					<div class="left" title="Average job rating weighted by earnings">
						<div class="eol-rating">
							<div class="eol-scale" style="width: 0px">
								
							</div>
						</div>
					</div>
					<div class="right bold" title="Average job rating weighted by earnings"></div>
					<div class="clear"></div>
				</div>
				<div class="snapshot-item-label-m">
					<div id="snapshot-label-12mo-3">
						<span title="Data is shown after at least 4 reviews are collected">Recommended</span>
					</div>
					<div id="snapshot-label-life-3" style="display: none">
						<span title="Data is shown after at least 4 reviews are collected">Recommended</span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="snapshot-item" style="position: relative">
			<div class="snapshot-item-title">Clients</div>
			<div class="snapshot-item-value">
				<div id="snapshot-12mo-4">
					<a href="#" title="Total paying clients in last 12 months">0</a><br />
					<a href="#" title="Percent of paying clients that have done repeat business with the contractor in last 12 months">0%</a>
				</div>
				<div id="snapshot-life-4" style="display: none">
					<a href="#" title="Total paying clients.">0</a><br />
					<a href="#" title=" percent of paying clients that have done repeat business with contractor">0%</a>
				</div>
			</div>
			<div class="snapshot-item-label">
				<div id="snapshot-label-12mo-4">
					<span title="Total paying clients in last 12 months.">Total</span><br />
					<span title="Percent of paying clients that have done repeat business with the contractor in last 12 months.">Repeat</span>
				</div>
				<div id="snapshot-label-life-4" style="display: none">
					<span title="Total paying clients">Total</span><br />
					<span title="Percent of paying clients that have done business with last 12 months.">Repeat</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="snapshot-item">
			<div class="snapshot-item-title">Earnings</div>
			<div class="snapshot-item-value">
				<div id="snapshot-12mo-5">
					<a href="#" title="Earnings from the last 12 months">$0</a><br />
					<a href="#" title="Earnings devided by numberof paying clients">$0</a>
				</div>
				<div id="snapshot-life-5" style="display: none">
					<a href="#" title="Earning in last 12 months">$0</a><br />
					<a href="#" title="Earning devided by number of paying clients">$0</a>
				</div>
			</div>
			<div class="snapshot-item-label">
				<div id="snapshot-label-12mo-5">
					<span title="Earnings for last 12 months.">Total</span><br />
					<span title="Earnings devided by number of clients">Per Client</span>
				</div>
				<div id="snapshot-label-life-5" style="display: none">
					<span title="Total Earnings">Total</span><br />
					<span title="Earnings devided by number of clients">Per Client</span>
				</div>				
			</div>
			<div class="clear"></div>
		</div> -->
	</div>
	<div class="clear"></div>
	<div class="p-spacer-module"></div>
	
	<div class="p-module">
		<h6 class="p-header">Identity</h6>
		<div class="identity-item-first">
			<div class="identity-item-label">Username</div>
			<div class="identity-item-value"><%= @user.username if @user.username.present? %></div>
			<div class="clear"></div>
		</div>
		<div class="identity-item">
			<div class="identity-item-label">Type</div>
			<div class="identity-item-value">
				<div class="left">Individual</div>
				<div class="left" style="margin-left: 10px;">
					<span title="Basic Individual">
						<div class="sprProf-individual-icon-xxxsmall-free">
							<!-- -->
						</div>
					</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="identity-item">
			<div class="identity-item-label">Member Since</div>
			<div class="identity-item-value"><%= @user.created_at.strftime("%d %B %Y") if @user.created_at.present? %></div>
			<div class="clear"></div>
		</div>
		<div class="identity-item">
			<div class="identity-item-label">Birthday</div>
			<div class="identity-item-value"><%= @user.dob.strftime("%d %B %Y") if @user.dob.present? %></div>
			<div class="clear"></div>
		</div>
		<div class="identity-item">
			URL<%= text_field_tag :url, @user.facebook_url, :readonly => true %>
		</div>
		<div class="identity-item identity-item-verifications">
			<!--<div class="identity-item-label">Verifications</div>
			<div class="identity-item-value">
				<div class="sprProfImg sprProf-id-verif-unverified-small-icon sprProf-authIcon" title="Get Verified">
					
				</div> 
				<div class="sprProfImg sprProf-paid-member-off-icon sprProf-authIcon" title="Not a starterbarter paying member">
					
				</div>
				<div class="sprProfImg sprProf-phone-auth-off-icon sprProf-authIcon" title="Unverified mobile number">
					
				</div>
				<div class="sprProfImg sprProf-location-auth-icon sprProf-authIcon" title="Verified location">
					
				</div>
				<div class="sprProfImg sprProf-credential-off-icon sprProf-credentialIcon " title="0 verified credentials">0</div>
			</div> -->
			<div class="clear"></div>
		</div>
		<div></div>
		<div class="clear"></div>
	</div>
	<div class="p-spacer-module"></div>
	<!-- Groups -->
	<div class="p-module">
		<a class="edit-btn jon-grp" href="/" style="margin-top: auto;">
			<span>Join Groups</span>
		</a>
		<h6 class="p-header">Groups</h6>
		<div style="text-align: center;">
			<!-- You are not currently a member of any group -->
			<% if @user.groups.present? %>
				<% @user.groups.each do |group| %>
					<%= link_to group.name %> ,
				<% end %>
			<% end %>
			<div style="margin-top: 10px;">
				<a target="group" href="/">View starter Barter Groups</a>
			</div>
		</div>
	</div>
	<div class="p-spacer-module"></div>
	<!-- Recommended Groups -->
	<div class="p-module"> 	
			<div class="bold" style="margin-bottom: 15px;">Recommended Groups</div>
			<div style="padding-bottom: 8px; width: 100px%;" id="group1024">
				<div style="float: left; width: 50px; margin-right: 5px;">
					<%= image_tag('Java.jpg', :style => "width:30px;height:30px") %>
				</div>
				<div style="float: left; width: 98px; margin-right: 10px;">
					<a class="bold" target="group" href="/">Java Developers</a>
				</div>
				<div style="float: left; width: 71px;">
					<a target="group" href="/">Join</a> | 
					<a href="/">Delete</a>
				</div>
				<div class="clear"></div>
			</div>
			<div style="padding-bottom: 8px; width: 100%;" id="group117">
				<div style="float: left; width: 50px; margin-right: 5px;">
					<%= image_tag('rails.png', :style => "width:30px;height:30px") %>
				</div>
				<div style="float: left; width: 98px; margin-right: 10px;">
					<a class="bold" target="group" href="/">Ruby on Rails</a>
				</div>
				<div style="float: left; width: 71px;">
					<a target="group" href="/">Join</a> | 
					<a href="/">Delete</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
	</div>
	<div class="clear"></div>
	<div class="p-spacer"></div>
	<div class="clear"></div>
	<div class="p-spacer"></div>
</div>
<div class="clear"></div>
<div class="p-spacer"></div>
<div class="clear"></div>

