<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'newsletter'}) do |f| %>
<h3>Log In With Social Network</h3>
<a href="javascript:void(0);"><%= image_tag('FB-icon-20x20.png',:alt => "Facebook", id: "sign_in") %></a>
<!-- <a href="/auth/facebook" id="sign_in"><%= image_tag('FB-icon-20x20.png') %></a> -->
</li>

<%= link_to(image_tag('linkedin-icon-20x20.png',:alt => "Linkedin", id: "sign_in_linkedin"), user_omniauth_authorize_path(:linkedin)) %></li>
<%= link_to(image_tag('twitter-icon-20x20.png',:alt => "Twitter", id: "sign_in"), user_omniauth_authorize_path(:twitter)) %></li> Or Login with email 
<h3>Email</h3>
<div class="bg">
	<%= f.text_field :login, :placeholder => "Type your email or username here", :class => 'input' %>
</div>
<div style="margin-top:-30px;">
	<h3>Password</h3>
	<div class="bg">
		<%= f.password_field :password, :placeholder => "Enter your password here", :class => 'input' %>
	</div>
	<% if devise_mapping.rememberable? -%>
	<div>
		<%= f.check_box :remember_me %> <%= f.label :remember_me %>
	</div>
	<% end -%>

	<%= f.submit "Sign in", :class => "button", :style=> "width:130px;" %>
</div>
<% end %>
<div style="margin-left:150px;margin-top:-30px;">
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	<%= link_to "Forgot password?", new_password_path(resource_name) %>
	<br />
	<% end -%>
</div>