<div class="wrapper">
	<div class="wrapper2" style="margin-left: 10px;">
		<a href="/" id="logo"></a>
	</div>
	<!-- <div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	 
	      
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	 
	      
	      <a class="brand" href="#">Project name</a>
	 
	      
	      <div class="nav-collapse collapse">
	      
	      </div>
	 
	    </div>
	  </div>
	</div> -->
		<% if user_signed_in? %>
	<div class="logged_in_user" style="<%= current_user.first_name.length + current_user.last_name.length >= 10 ? "width: 10px" : "width: 0px" %>">
			
			<div class="nav-collapse collapse" style="position: absolute;">
				<ul class="nav nav-tabs login-box">
					<li>
						<%= link_to "Inbox(#{inbox_count(current_user)})", message_received_path %>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle login" data-toggle="dropdown" href="#">
						 
							<b><%= "#{current_user.first_name.titleize} "+"#{ current_user.last_name.titleize}" %></b>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu login-container">
							<li><%= link_to "Profile", :controller => "home", :action => "user_profile" %></li>
							<li><%= link_to "Applied jobs", :controller => "jobs", :action => "applied_jobs_by_current_user" %></li>
							<li><%= link_to "Closed jobs", :controller => "jobs", :action => "closed_jobs_for_current_user" %></li>				
							<li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete', :id => "sign_out" %></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->

	</div>
	    <% end %>          

	<!-- <nav>
		<ul id="top_nav">
			<li>
				<a href="Support.html">Support</a>
			</li>
			<li>
				<a href="#">FAQs</a>
			</li>
			<li class="end">
				<a href="#">Sitemap</a>
			</li>
		</ul>
	</nav> -->
	<!-- <span class="date"><%#= DateTime.now.strftime('%m %d %Y')%></span> -->
</div>


<!-- search field -->

<div id="search" >
	<%#= search_form_for @q, :url => search_path,
                        :html => {:method => :post} do |f| %>
	  
	  <%#= f.text_field :username_cont, :class=>"input-medium search-query" %>
	  <%#= f.submit "Search", :class=>"btn" %>
	<%# end %>
</div>
<div class="clear"></div>
<!-- Post a job -->


	
<div id="nav">
	<% if user_signed_in? %>
		<ul class="level1">

			<li class="level1-li first">
				<a href="/" style="font-weight:bold;font-size:14px;color:white;">Home</a>
			</li>

			<li class="level1-li">
				<%= link_to "Jobs", jobs_path, :style => "font-weight:bold;font-size:14px;color:white;" %>
			</li>
			<li class="level1-li">
				<%= link_to 'Post a Job', new_job_path, :style => "font-weight:bold;font-size:14px;color:white;" %>
			</li>
		</ul>
		<%= form_for :search, :url => search_path, :html => { :class => "form-search"}, :method => :get do |f| %>									
	  			<%#= f.select :content_select, ["Jobs", "People", "Myjobs"] %>
	  		<% if params[:search].present? %>
				<select id="dropdown" name="search[content_select]" style="width: 83px;">
					<option value="0" <%= "selected" if params[:search][:content_select] == "0" %>>Jobs</option>
					<option value="1" <%= "selected" if params[:search][:content_select] == "1" %>>People</option>
					<option value="2" <%= "selected" if params[:search][:content_select] == "2" %>>Myjobs</option>
		  		</select>
		  	<% else %>
		  		<select id="dropdown" name="search[content_select]" style="width: 83px;">
		  			<option value="0">Myjobs</option>
		  			<option value="1">People</option>
		  			<option value="2">Jobs</option>
		  		</select>	
		  	<% end %>
	  			
		  	<%= f.text_field :content, :style => "width: 190px"  %>
		  	<%= f.submit "Search", :class=>"btn" %>
		<% end %>
			
	<% else %>
		<ul class="level1">
			<li class="level1-li first">
					<%= link_to 'Register', new_user_registration_path, :style => "font-weight:bold;font-size:14px;color:white;" %>
			</li>
			<li class="level1-li">
				<%= link_to "About Us", about_us_path, :style => "font-weight:bold;font-size:14px;color:white;" %>
			</li>
			<li class="level1-li">
				<%= link_to "Services", services_path, :style => "font-weight:bold;font-size:14px;color:white;" %>
			</li>
			<li class="level1-li">
				<%= link_to "Contact Us", contact_us_path, :style => "font-weight:bold;font-size:14px;color:white;" %>
			</li>
		</ul>
	<% end %>
</div>
<div class="clear"></div>
<% if !current_user.present? %>
<!-- <div class="wrapper">
	<p style="float:right;color:white;font-size:16px;margin-top:100px;margin-left:-180px;font-weight:bold;">
		Achieve your dreams without money.Barter your
		<br />
		skills
		<br />
		<br />
		- Specify what you need
		<br />
		- Skills snd work description
		<br />
		- Geographic Preferences
		<br />
		- Time Zone Preference
	</p>
	
	 <div id="gallery">
		<a href="ourmission.html" class="button right" style="margin-top:80px;">Get Started Now</a>
	</div> 
</div> -->
<% end %> 

<script>
var mytextbox = document.getElementById('q_title_cont');
var mydropdown = document.getElementById('dropdown');

mydropdown.onchange = function(){
     mytextbox.name = this.value;
}
</script>